/******Laptop Big******/
@media only screen and (min-width: 1280px) and (max-width: 1440px) {

  /* For body, Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
    display: block !important;
  }

  ::-webkit-scrollbar-button {
    display: none;
    display: block !important;
  }

  body {
    width: 100%;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
  }

  .container {
    width: 24960px;
    /* height: 9720px; */
    height: 10800px;
    width: 20160px !important;
    height: 9000px !important;
    /*1440 x 900. 14 columns x 10 rows*/
    position: relative;
    /* background-image: url("../images/grid.png");
  background-size: contain;
  background-repeat: no-repeat; */
    overflow: hidden;
  }

  

  .tl1 {
    position: absolute;
    /* border: 1px solid black; */
    top: 90vh;
    left: 50vw;
    width: 100vw;
    /* height: 400vh; */
  }

  .tl1 img {
    width: 100%;
  }

  #inst1 {
    position: absolute;
    top: 35vh !important;
    left: 3vw !important;
    width: 10%;
  }

  #inst2 {
    position: absolute;
    top: 12vh !important;
    left: 245vw !important;
    z-index: 3;
    width: 14% !important;
  }

  #inst3 {
    position: absolute;
    top: 12vh !important;
    left: 1300vw !important;
    
  }
  #inst4 {
    position: absolute;
    top: 413vh !important;
    left: 720vw !important;
    
  }

  #inst5 {
    position: absolute;
    top: 700vh !important;
    left: 1235vw !important;
    
  }

  #inst6 {
    position: absolute;
    top: 865vh !important;
    left: 110vw !important;

  }

  #inst7 {
    position: absolute;
    top: 685vh !important;
    left: 388vw !important;
 
  }

  #inst8 {
    position: absolute;
    top: 869vh !important;
    left: 845vw !important;
    
  }

  /*topgroup1 img itself*/
  #topgroup1 {
    position: absolute;
    /* top: 69vh;
    left: 77vw; */
    top: 33vh !important;
    left: 38vw !important;
  }

  #topgroup2 {
    position: absolute;
    /* border: 1px solid black; */
    top: 25vh !important;
    left: 355vw;
  }

  #oszu-mathilde-bridge {
    position: absolute;
    top: 554vh !important;
    left: 426vw !important;
  }

  #oszu-mathilde-center {
    position: absolute;
    top: 285vh !important;
    left: 426vw !important;
    z-index: 1;
  }

  #oszu-under {
    position: absolute;
    top: 860vh !important;
    left: 385vw !important;
  }

  #oszu-under-left {
    position: absolute;
    top: 535vh;
    left: 161vw;
  }

  /* #colorful-figure {
  position: absolute;
  top: 603vh;
  left: 163vw;
} */

  #colorful-figure-head1 {
    position: absolute;
    top: 583vh !important;
    left: 211vw !important;
  }

  #colorful-figure-head2 {
    display: none;
    position: absolute;
    top: 583vh !important;
    left: 211vw !important;
  }

  #colorful-figure-body {
    position: absolute;
    top: 629vh !important;
    left: 160vw !important;
  }

  #paths-jahz {
    position: absolute;
    top: 340vh;
    left: 3vw !important;
  }

  #jahz-under {
    
    top: 420vh;
    left: 133vw !important;
    width:5% !important;
  }

  #jahz-under-images {
    position: absolute;
    top: 532vh;
    left: 81.5vw!important;
  }

  #jahz-under-images img {
  }

  #shirley-path {
    position: absolute;
    top: 110vh !important;
    left: 435vw !important;
  }

  #mathilde-right {
    position: absolute;
    top: 280vh !important;
    left: 509vw !important;
  }
  #maria-left-bottom {
    position: absolute;
    top: 175vh !important;
    left: 617vw !important;
  }

  #mathilde-soli-path {
    position: absolute;
    top: 362vh;
    left: 600vw !important;
  }

  #maria-soli-path {
    position: absolute;
    top: 320vh !important;
    left: 804vw !important;
  }

  #maria-soli-element {
    position: absolute;
    top: 456vh !important;
    left: 861vw !important;
    width: 4%;
    z-index: -1 !important;
  }

  #soli-right-path {
    position: absolute;
    top: 252vh !important;
    left: 1105vw !important;
  }

  #bottom-right-element {
    position: absolute;
    top: 780vh !important;
    left: 1150vw !important;
  }

  #soli-jeon {
    position: absolute;
    top: 720vh !important;
    left: 910vw !important;
  }

  #maria-guide {
    position: absolute;
    top: 70vh;
    left: 750vw;
  }

  #maria-right-path {
    position: absolute;
    top: 210vh !important;
    left: 860vw;
    z-index: 2;
  }

  #maria-right-element {
    position: absolute;
    top: 259vh !important;
    left: 883vw;
  }

  #maria-right-braash {
    position: absolute;
    top: 210vh;
    left: 1095vw !important;
    z-index: -1 !important;
  }

  #mathilde-right-path1 {
    position: absolute;
    top: 597vh;
    left: 570vw;
  }

  #mathilde-right-path2 {
    position: absolute;
    top: 750vh !important;
    left: 580vw !important;
  }

  #mathilde-soli-element {
    position: absolute;
    top: 533vh !important;
    left: 673vw !important;
    z-index: -1 !important;
  }

  #soli-mat-paths {
    position: absolute;
    top: 542vh !important;
    left: 775vw !important;
  }

  #top-shout {
    position: absolute;
    top: 508vh !important;
    left: 862vw !important;
    width: 5% !important;
    z-index: 1 !important;
  }

  #top-right-line {
    position: absolute;
    top: 120vh;
    left: 1057vw;
  }

  #oszu-colorful-path {
    position: absolute;
    top: 794vh !important;
    left: 235vw !important;
  }

  #right-long {
    position: absolute;
    top: 380vh !important;
    left: 1278vw !important;
  }

  /* #braah-top-line{
  top: 115vh;
  left: 1030vw;
} */

  #oszu {
    position: absolute;
    /* border: 1px solid red; */
    top: 188vh !important;
    left: 345vw !important;
    width: 100vw !important;
    height: 500vh;
  }

  #oszu > div {
    position: absolute;
  }

  /*Common properties*/
  .sym {
    width: 100%;
    z-index: 1;
    opacity: 0.8;
    pointer-events: none;
  }

  .oszu-title {
    text-align: center;
    z-index: 1;
  }

  .oszu-title,
  .fog {
    width: 100%;
  }

  .fog {
    position: absolute;
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    /* border: 1px solid blue; */
  }

  .tx {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 3.5% 15%;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    /* display: none; */
    opacity: 0; /* Invisible by default */
    visibility: hidden;
    pointer-events: none;
    /* Prevent interaction when invisible */
    transition: opacity 2s ease-in-out, display 2s ease-in-out; /* Smooth fade with delayed visibility change */
    /* border: 1px solid blue; */
  }
  .tx.active {
    /* display:block; */
    opacity: 1; /* Visible */
    visibility: visible;
    pointer-events: auto; /* Enable interaction when visible */
    transition: opacity 2s ease-in-out, visibility 2s ease-in-out; /* Only transition opacity when active */
  }

  .tx img {
    position: relative;
    /* border: 1px solid red; */
  }

  .tx.active img {
    animation-play-state: running; /* Start animation on hover */
  }

  .topblur {
    background-color: white;
    filter: blur(10px);
    height: 100px;
    width: 100%;
    position: absolute;
    /* border: 1px solid magenta; */
    z-index: 3;
  }

  #topblur1 {
    top: -36%;
    left: 27% !important;
  }

  #topblur2 {
    top: 190% !important;
    left: 5%;
    width: 90%;
  }

  #topblur3 {
    top: 150%;
    left: 75%;
    width: 55%;
  }

  #topblur4 {
    top: -14%;
    left: 3%;
    width: 50%;
  }

  #topblur5 {
    top: -24%;
    left: 25%;
    width: 80%;
  }

  #topblur6 {
    top: -64%;
    left: 7%;
    width: 50%;
  }

  #topblur7 {
    top: -68%;
    left: 15%;
    width: 60%;
  }

  .oszu-title img,
  .fog img,
  .tx img,
  .sym img {
    width: 100%;
  }

  .footnote {
    position: absolute;
    /* border: 1px solid orange; */
  }

  #footnote-femme {
    top: 41.5%;
    left: 106%;
    width: 40%;
  }

  #footnote-trans {
    top: 27.5%;
    left: 97%;
    width: 35%;
  }

  .footnote img {
    width: 100%;
  }

  .oszu-title img {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .fog img {
    opacity: 0.1;
  }

  /*Homme part*/
  #homme {
    top: 5%;
    left: 20%;
    width: 28%;
    z-index: 1;
  }

  #title1 {
    width: 100%;
    left: 5%;
    top: 95%;
    position: absolute;
  }

  #title1 img {
    width: 13.5%;
  }

  #fog1 {
    left: 27%;
    top: 46%;
    width: 65%;
    height: 177px;
  }

  /* .sym{
  position: relative;
  z-index: 0;
} */

  .smooth {
    position: absolute;
    background-color: white;
    width: 314px;
    height: 40px;
    /* border: 1px solid red; */
    z-index: 2;
    filter: blur(4px);
  }

  #smooth1 {
    top: 62%;
    left: 28% !important;
    width: 270px !important;
    height: 40px;
    border-radius: 30%;
  }

  #smooth2 {
    top: 40% !important;
    left: 8% !important;
    width: 270px !important;
    border-radius: 45%;
    height: 44px;
    filter: blur(3px);
  }

  #smooth3 {
    top: 71% !important;
    left: 81.5% !important;
    width: 220px !important;
    filter: blur(3px);
    border: none;
  }

  #smooth4 {
    top: 26%;
    left: 10.5%;
    border-radius: 53%;
    width: 285px !important;
    height: 40px;
  }

  #smooth5 {
    top: 38%;
    left: 38% !important;
    width: 270px !important;
    border-radius: 40%;
    height: 49px;
  }

  #smooth6 {
    top: 20% !important;
    left: 11% !important;
    width: 230px !important;
    height: 25px !important;
    border-radius: 37%;
  }

  #smooth7 {
    top: 44% !important;
    left: 25% !important;
    width: 205px !important;
    filter: blur(4px);
  }

  #tx1 {
    top: -23%;
    left: 17%;
    width: 93%;
    height: 90%;
  }

  #homme-sym-top {
    position: absolute;
    top: 0%;
    border: 1px solid;
  }
  #homme-sym-under {
    position: absolute;
    left: 0.275%;
  }

  #tx1 img,
  #tx2 img,
  #tx3 img,
  #tx4 img,
  #tx5 img,
  #tx6 img,
  #tx7 img {
    animation: none; /* Default state: no animation */
    animation-play-state: paused; /* Prevent animation until hover */
  }
  #tx1 img {
    top: 104%;
  }

  #tx2 img {
    top: -702%;
  }

  #tx3 img {
    top: -950%;
  }

  #tx4 img {
    top: 115%;
  }

  #tx5 img {
    top: 110%;
  }

  #tx6 img {
    top: 110%;
  }

  #tx7 img {
    top: 110%;
  }

  #tx1.active img {
    animation: cinemaUpfor1 40s linear;
    /* animation-play-state: running; */
  }

  #tx2.active img {
    animation: cinemaDownfor2 46s linear;
    /* animation-play-state: running; */
  }

  #tx3.active img {
    animation: cinemaDownfor3 64s linear;
    /* animation-play-state: running; */
  }

  #tx4.active img {
    animation: cinemaUpfor4 48s linear;
    /* animation-play-state: running; */
  }

  #tx5.active img {
    animation: cinemaUpfor5 48s linear;
  }

  #tx6.active img {
    animation: cinemaUpfor6 48s linear;
  }

  #tx7.active img {
    animation: cinemaUpfor7 50s linear;
  }

  .tx img.reset-animation {
    animation: none !important; /* Temporarily disable animation */
  }

  @keyframes cinemaUpfor1 {
    0% {
      margin-top: 0%;
    }
    100% {
      margin-top: -570%;
    }
  }

  @keyframes cinemaDownfor2 {
    0% {
      margin-top: 0%;
    }
    100% {
      margin-top: 745%;
    }
  }

  @keyframes cinemaDownfor3 {
    0% {
      margin-top: 0%;
    }
    100% {
      margin-top: 1180%;
    }
  }

  @keyframes cinemaUpfor4 {
    0% {
      margin-top: 0%;
    }
    100% {
      margin-top: -570%;
    }
  }

  @keyframes cinemaUpfor5 {
    0% {
      margin-top: 0%;
    }
    100% {
      margin-top: -640%;
    }
  }

  @keyframes cinemaUpfor6 {
    0% {
      margin-top: 0%;
    }
    100% {
      margin-top: -700%;
    }
  }

  @keyframes cinemaUpfor7 {
    0% {
      margin-top: 0%;
    }
    100% {
      margin-top: -860%;
    }
  }

  /*Femme part*/
  #femme {
    top: 12%;
    left: 65%;
    width: 31%;
    z-index: 1 !important;
    /*  border:1px solid black;*/
  }

  #title2 {
    width: 100%;
    left: -5%;
    top: -32%;
    position: absolute;
  }

  #title2 img {
    width: 11%;
  }

  #fog2 {
    left: 13%;
    top: 19%;
    width: 65%;
    height: 191px;
  }

  #tx2 {
    top: 49%;
    left: 4%;
    width: 90%;
    height: 150%;
  }

  /*Non-binary part*/
  #non-binary {
    top: 23%;
    left: 10%;
    width: 40%;
    z-index: 1;
  }

  #sym3 img {
    width: 150%;
  }

  #title3 {
    width: 100%;
    left: -35%;
    top: 2%;
    position: absolute;
  }

  #title3 img {
    width: 45%;
  }

  #fog3 {
    left: 78%;
    top: 55%;
    width: 45%;
    height: 190px;
  }

  #tx3 {
    width: 70%;
    height: 86%;
    left: 65%;
    top: 74%;
  }

  /*Gay-Lesbian part*/
  #gay-lesbian {
    top: 43%;
    left: 58%;
    width: 55%;
    z-index: 1;
  }

  #title4 {
    width: 95%;
    left: 29%;
    top: 10%;
    position: absolute;
  }

  #title4 img {
    width: 20%;
  }

  #fog4 {
    left: 11%;
    top: 18%;
    width: 35%;
    height: 180px;
  }

  #tx4 {
    width: 65%;
    top: -8%;
    left: -3.5%;
    height: 35%;
  }

  /*Hetero part*/
  #hetero {
    top: 62%;
    left: 27%;
    width: 32%;
    z-index: 1;
  }

  #title5 {
    left: 45.5%;
    top: 90%;
    position: absolute;
    width: 130%;
  }

  #title5 img {
    width: 20%;
  }

  #fog5 {
    left: 35%;
    top: 30%;
    width: 55%;
    height: 180px;
  }

  #tx5 {
    top: -13%;
    left: 24%;
    width: 82%;
    height: 55%;
  }

  /*Bi&Pansexual part*/
  #bi-pan {
    top: 85%;
    left: 20%;
    width: 40%;
    z-index: 1;
    /*    border: 1px solid black;*/
  }

  #title6 {
    width: 90%;
    left: -48%;
    top: 53%;
    position: absolute;
  }
  #title6 img {
    width: 50%;
  }

  #fog6 {
    left: 12%;
    top: 3%;
    width: 40%;
    height: 150px;
  }

  #tx6 {
    top: -52%;
    left: -2%;
    width: 70%;
    height: 75%;
  }

  /*Transgender part*/
  #trans {
    top: 97%;
    left: 64%;
    width: 34%;
    z-index: 1;
    /*    border: 1px solid black;*/
  }

  #sym7 {
    width: 90%;
  }

  #title7 {
    width: 100%;
    left: -4.5%;
    top: 108%;
    position: absolute;
  }

  #title7 img {
    width: 20%;
  }

  #fog7 {
    left: 24%;
    top: 30%;
    width: 43.25%;
    height: 170px;
  }

  #tx7 {
    top: -54%;
    left: 7%;
    width: 82%;
    height: 100%;
  }

  /****Mathilde****/
  #mathilde {
    position: absolute;
    top: 570vh !important;
    left: 518vw !important;
    width: 100vw;
    /* height: 260vh;
  height: 300vh; */
    height: 230vh;
    z-index: 999 !important;
    /* border: 1px solid blue; */
  }

  .cls {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* border: 1px solid palegreen; */
  }

  .cls video {
    width: 1440px !important;
  }

  #cls1 {
    top: 400vh;
    left: 200vw;
  }

  #cls2 {
    top: 200vh;
    left: 465vw !important;
  }

  #cls3 {
    top: -25vh !important;
    left: 610vw !important;
  }

  #cls4 {
    top: 11vh;
    left: 960vw !important;
  }

  #cls5 {
    top: 350vh;
    left: 1000vw;
  }

  #cls6 {
    top: 570vh;
    left: 625vw;
  }

  .none {
    display: none;
  }

  #envelop {
    position: relative;
    width: 30%;
    top: 5%;
    left: 5%;
    z-index: 1;
  }

  #envelop img {
    width: 60%;
    /* animation: float 16s infinite linear; */
  }

  .textEnvelop {
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: 24px;
    font-family: "Pretendard-Regular";
  }

  #textEnvKR1 {
    left: 10%;
    top: 5%;
  }
  #textEnvEN1 {
    left: 57%;
    top: 30%;
  }
  #textEnvFR1 {
    left: 10%;
    top: 80%;
  }

  #textEnvKR2 {
    left: 72%;
    top: 45%;
  }
  #textEnvEN2 {
    left: 27%;
    top: 60%;
  }
  #textEnvFR2 {
    left: 75%;
    top: 15%;
  }

  #textEnvKR3 {
    left: 10%;
    top: 5%;
  }
  #textEnvEN3 {
    left: 57%;
    top: 30%;
  }
  #textEnvFR3 {
    left: 10%;
    top: 70%;
  }

  #textEnv1 span,
  #textEnv2 span,
  #textEnv3 span {
    display: inline-block !important;
  }

  #textEnvKR1 span,
  #textEnvEN1 span,
  #textEnvFR1 span,
  #textEnvKR2 span,
  #textEnvEN2 span,
  #textEnvFR2 span #textEnvKR3 span,
  #textEnvEN3 span,
  #textEnvFR3 span {
    display: inline-block !important;
  }

  /* @keyframes float {
  from {
    transform: rotate(0deg) translate3d(800px, 0, 0) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate3d(800px, 0, 0) rotate(-360deg);
  }
} */

  #m1 img,
  #m2 img,
  #m3 video,
  #m4 video,
  #m5 video,
  #m6 video,
  #m7 img,
  #m8 video,
  #m9 video,
  #m10 video,
  #m11 video,
  #m12 img,
  #m13 video,
  #m14 video,
  #m15 video,
  #m16 video,
  #m17 video,
  #m18 video,
  #m19 video,
  #m20 img,
  #m21 video,
  #m22 img,
  #m23 video,
  #m24 video,
  #m25 video,
  #m26 video,
  #m27 video,
  #m28 video,
  #m29 video,
  #m30 img,
  #m31 video,
  #m32 video,
  #m33 video,
  #m34 img,
  #m35 video,
  #m36 video,
  #m37 video,
  #m38 video,
  #m39 img,
  #m40 video,
  #m41 video {
    width: 100%;
    cursor: pointer;
  }

  #m40,
  #m41,
  #m42 {
    z-index: 5;
  }

  #m42 {
    cursor: auto !important;
  }

  #m42 video {
    cursor: auto !important;
  }

  #mathilde > div {
    position: absolute;
    cursor: pointer;
  }

  #m1 {
    width: 20%;
    top: 1%;
    left: 8%;
  }

  #m2 {
    width: 20%;
    top: 4%;
    left: 13%;
  }

  #m3 {
    width: 8%;
    top: 8%;
    left: 36%;
  }

  #m4 {
    width: 8%;
    top: 10%;
    left: 36%;
  }

  #m5 {
    width: 25.5%;
    top: 18.65%;
    left: 34%;
  }

  #m6 {
    width: 13%;
    top: 21%;
    left: 41%;
  }

  #m7 {
    width: 25%;
    top: 8.5%;
    left: 75%;
  }

  #m8 {
    width: 38.25%;
    top: 24%;
    left: 23%;
  }
  #m9 {
    width: 19%;
    top: 26.25%;
    left: 37%;
  }
  #m10 {
    width: 32.5%;
    top: 31%;
    left: 27%;
  }

  #m11 {
    width: 15%;
    top: 33%;
    left: 42%;
  }

  #m12 {
    width: 30%;
    top: 34%;
    left: 0.5%;
  }

  #m13 {
    width: 9%;
    top: 45%;
    left: 32%;
  }

  #m14 {
    width: 13%;
    top: 41%;
    left: 44%;
  }

  #m15 {
    width: 7%;
    top: 44%;
    left: 46%;
  }

  #m16 {
    width: 6.5%;
    top: 43%;
    left: 58%;
  }

  #m17 {
    width: 13%;
    top: 45.25%;
    left: 56%;
  }

  #m18 {
    width: 17%;
    top: 44%;
    left: 71%;
  }
  #m19 {
    width: 10%;
    top: 46%;
    left: 74%;
  }

  #m20 {
    width: 30%;
    top: 48%;
    left: 74%;
  }

  #m21 {
    width: 16%;
    top: 62.5%;
    left: 84%;
  }

  #m22 {
    width: 15.5%;
    top: 54.5%;
    left: 19%;
  }

  #m23 {
    width: 16.5%;
    top: 67.25%;
    left: 22.5%;
  }

  #m24 {
    width: 18.5%;
    top: 53%;
    left: 40%;
  }

  #m25 {
    width: 10%;
    top: 55.5%;
    left: 45%;
  }

  #m26 {
    width: 20%;
    top: 59%;
    left: 50%;
  }

  #m27 {
    width: 14%;
    top: 61.35%;
    left: 56%;
  }

  #m28 {
    width: 13.5%;
    top: 65.65%;
    left: 41%;
  }

  #m29 {
    width: 12%;
    top: 68.25%;
    left: 44%;
  }

  #m30 {
    width: 36%;
    top: 71%;
    left: 8%;
  }

  #m31 {
    width: 17%;
    top: 79%;
    left: 7%;
  }

  #m32 {
    width: 22%;
    top: 74.5%;
    left: 50%;
  }

  #m33 {
    width: 11%;
    top: 77.5%;
    left: 57%;
  }

  #m34 {
    width: 30%;
    top: 76%;
    left: 19%;
  }

  #m35 {
    width: 8%;
    top: 89.5%;
    left: 30%;
  }

  #m36 {
    width: 21%;
    top: 82%;
    left: 55%;
  }

  #m37 {
    width: 10%;
    top: 84.5%;
    left: 61.6%;
  }

  #m38 {
    width: 24%;
    top: 83%;
    left: 77%;
  }

  #m39 {
    width: 39%;
    top: 88%;
    left: 64%;
  }

  #m40 {
    width: 11%;
    top: 95.25%;
    left: 66%;
  }

  #m41 {
    width: 25.5%;
    top: 94.25%;
    left: 34%;
  }

  #m42 {
    width: 17%;
    top: 97%;
    left: 40%;
  }

  /*Maria*/
  #maria {
    /* width: 1920px;
  height: 1080px; */
    /* width: 100vw;
  height: 100vh; */
    width: 1920px !important;
    height: 1361px !important;
    position: absolute;
    z-index: 0;
    top: 208vh;
    left: 728vw;
    /* border: 1px solid blue; */
    cursor: url("../images/maria/penclick.png"), auto;
  }

  #vid_maria {
    width: 2400px;
    height: 1700px;

    width: 1920px !important;
    height: 1361px !important;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  #vid_maria video {
    /* width: 100vw; */
    width: 100%;
    width: 125%;
    pointer-events: auto; /* Allow pointer events */
    /* border: 2px solid green; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #drawing {
    width: 1920px;
    height: 1080px;
    width: 2400px;
    height: 1400px;
    position: absolute;
    z-index: 1;
    /* z-index: 2; */
    top: 0;
    left: 0;
  }

  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent !important;
    /* width: 100vw;
  height: 100vh; */
    /*width height가 문제임*/
  }

  /*Soli*/

  #soli {
    position: absolute;
    z-index: 0;
    top: 500vh;
    left: 900vw;
    width: 200vw;
    height: 200vh;
    display: flex;
    justify-content: center;
    /* border: 1px solid magenta; */
  }

  #soli-area {
    width: 90%;
    position: relative;
    top: 0%;
    left: 0%;
  }
  #soli-area video {
    width: 100%;
  }
  /* .soli-figure {
  position: absolute;
}

.soli-figure img {
  width: 100%;
}

#hanging {
  top: 23%;
  left: 62.65%;
  width: 15%;
} */

  /*ladder is <img>*/
  /* #ladder {
  width: 90%;
  position: relative;
  top: 0%;
  left: 0%;
} */

  .soli-text {
    height: 27vh;
    position: absolute;
    background-color: transparent;
    overflow-y: hidden;
    overflow-x: visible;
  }

  .no-lineheight {
    line-height: 0;
  }

  /* #yellow, red, green = .soli-text */
  #yellow {
    top: 12%;
    left: 24.5%;
    height: 18vh;
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
  }

  #red {
    top: 39.5%;
    left: 45.5%;
    height: 26vh;
    width: 86vw;
    /* border: 1px solid black; */
  }

  #green {
    top: 57.75%;
    left: 18.25%;
    height: 36vh;
    width: 86vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
  }

  .yellowbox,
  .greenbox,
  .redbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: visible;
    /* width: 58.5vw; */
    height: 100%;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* max-height: 100%; */
    white-space: nowrap;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .yellowbox::-webkit-scrollbar,
  .greenbox::-webkit-scrollbar,
  .redbox::-webkit-scrollbar {
    display: none;
  }

  #yellowbox {
    overflow-x: hidden;
  }

  #greenbox {
  }

  .yellowpara {
    position: relative;
    width: 100%;
    /* border: 1px solid blue; */
    margin-bottom: 18vh;
  }
  .yellowpara p,
  .greenpara p,
  .redpara p {
    color: #454c77;
    mix-blend-mode: multiply;
  }

  .yellowpara p {
    /* font-size: 48px; */
    font-size: 36px;
    line-height: 8vh;
    text-align: center;
    /* height: 4vh; */
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
  }

  .greenpara {
    position: relative;
    top: 25%;
    width: 100%;
    /* border: 1px solid blue; */
    margin-bottom: 12vh;
    top: 33%;
    margin-bottom: 10vh;
    /* padding-top: 8%;
  padding-bottom: 10%; */
    /* height: 27vh; */
  }

  #greenpara1 {
    margin-top: 5vh;
  }

  .greenpara p {
    font-size: 48px;
    line-height: 8vh;
    text-align: center;
    /* line-height: 0; */
    /* height: 4vh; */
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
  }

  .redpara {
    position: relative;
    width: 100%;
    /* border: 1px solid blue; */
    margin-bottom: 2vh;
    margin-top: 2vh;
  }

  .redpara p {
    font-size: 20px;
    justify-content: left !important;
    line-height: 1;
    margin-top: 0;
    /* margin-bottom: -1.5vh; */
  }

  .soli-text p {
    font-family: Pretendard-Regular;
    overflow-x: visible;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 27vh; */
    transform-style: preserve-3d;
  }

  .splitting[data-scroll] .word {
    transition: transform 5s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.3s linear;
    transition-delay: calc(20ms * var(--char-index));
  }

  .whitespace {
    margin-left: 10px;
    margin-right: 10px;
  }

  /*Jahz*/
  #jahz {
    position: absolute;
    z-index: 0;
    top: 300vh;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    /* overflow-y: hidden !important; */
    /* border: 2px solid blue; */
    /* display:block;
            margin:0 auto; */
    /* display: flex;
            justify-content: center; */
  }

  #door {
    position: relative;
    top: 50%;
    left: 57%;
    left: 77%;
    /* max-width: 100%; */
    transform: translate(-50%, -50%);
    width: 25%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    perspective: 1500px; /* Enable 3D effect */
    perspective-origin: right center; /* Adjust perspective */
  }

  #door::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/jahz/final-door.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: right center; /* Pivot point for the "hinge" */
    /* transition: transform 1s ease-in-out; */
    transition: transform 1s ease-in-out;
    z-index: 2;
    transform: rotateY(0deg); /* Start with the door closed */
    visibility: hidden;
    opacity: 0; /* Fully hidden by default */
  }

  #door.doorvisible::before {
    visibility: visible;
    opacity: 1;
    transform: rotateY(130deg);
    /* transition: transform 1s ease-in-out, visibility 0s, opacity 1s ease-in-out;  */
  }

  #door.dooropened {
    /* opacity: 1; */
    pointer-events: none;
    visibility: hidden; /* Hide the main door when it's opened */
    opacity: 0; /* Fully transparent when opened */
  }

  #door.dooropened::before {
    transform: rotateY(130deg);
  }

  #doorrect,
  #doorhandle {
    position: absolute;
  }

  #doorrect {
    max-width: 100%;
    z-index: 0;
    top: 0%;
    opacity: 1; /* Fully visible by default */
    transition: opacity 1s ease-in-out; /* Smooth fade-out effect */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  #doorrect.hidden {
    opacity: 0 !important; /* Fully transparent */
    visibility: hidden !important; /* Ensures it's removed from accessibility tree after fade-out */
  }

  .door-opening {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    top: 1.5%;
    left: 57.15%;
    left: 77.15%;
    transform-origin: right;
    transition: all 0.5s ease-in-out;
    width: 25%;
    height: 97.25%;
    background: white;
    position: absolute;
    /* border: 4px solid black; */
  }
  /*https://codepen.io/am_eu/pen/EgedaQ : Door animation*/

  .dooropened {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    /*prespectiv creates the door open effect*/
    transform: perspective(1200px) rotateY(105deg);
  }

  #doorrect img,
  #doorhandle img {
    width: 95%;
  }

  #doorhandle {
    width: 20%;
    top: 54.57%;
    left: 6%;
    z-index: 2;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s ease 1s;
  }

  /* #dooropened #doorhandle {
  opacity: 0;  
  visibility: hidden;  
} */

  #bodies {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 0;
    /* position: relative; */
    display: flex !important; /* Force it to display */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    /* border: 1px solid magenta; */
    position: absolute;
    left: 35.4%;
    top: 1.25%;
    transform: translateX(-50%);
    height: 97.5%;
    width: 89.5%;
  }

  #scrollButton {
    position: absolute;
    top: 50%;
    left: 84%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  #scroll-down1 {
    left: 75%;
    top: 48.5%;
  }

  #scroll-down2 {
    left: 75%;
    top: 51.5%;
  }

  .scroll-down {
    position: absolute;
    position: relative;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 36px;
    height: 36px;
    border-bottom: 4px solid rgb(122 122 122);
    border-right: 4px solid rgb(122 122 122);
    border-radius: 2px;
    /* z-index: 9; */
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-animation: fade_move_down 5s ease-in-out infinite;
    -moz-animation: fade_move_down 5s ease-in-out infinite;
    animation: fade_move_down 5s ease-in-out infinite;
  }

  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0% {
      -webkit-transform: translate(0, -10px) rotate(45deg);
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0, 10px) rotate(45deg);
      opacity: 0.2;
    }
  }
  @-moz-keyframes fade_move_down {
    0% {
      -moz-transform: translate(0, -10px) rotate(45deg);
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(0, 10px) rotate(45deg);
      opacity: 0.2;
    }
  }
  @keyframes fade_move_down {
    0% {
      transform: translate(0, -10px) rotate(45deg);
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 10px) rotate(45deg);
      opacity: 0.2;
    }
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  #bodies::-webkit-scrollbar {
    display: none;
  }

  #introtext {
    position: relative;
    display: none;
    width: 30%;
    top: -12%;
    text-align: center;
    /* border: 2px solid black; */
  }

  #introtext video {
    width: 100%;
  }

  #introtext,
  #skeleton {
    transition: top 0.1s ease-out;
  }

  #skeleton {
    position: relative;
    top: -23.5%;
    width: 40%;
    z-index: 1;
  }

  #skeleton img {
    width: 100%;
  }

  /* #skeleton, #jahztext, #twobodies1, #twobodies2, #twobodies3 {
            visibility: hidden; 
            opacity: 0; 
            transition: opacity 0.3s ease, visibility 0.3s ease; 
        } */

  #jahztext {
    /*position absolute must*/
    position: absolute;
    /* display: none; */
    z-index: 0;
    top: 25%;
    margin-left: 0%;
    width: 105%;
    z-index: 1;
  }

  #jahztext img {
    width: 100%;
  }

  #twobodies1,
  #twobodies2,
  #twobodies3 {
    width: 20.25%;
    margin: 0 auto;
  }

  #twobodies1 img,
  #twobodies2 img,
  #twobodies3 img {
    width: 100%;
  }

  #twobodies1 {
    position: relative;
    /* display:none; */
    top: 91.25%;
    left: 0.5%;
  }

  /*MUSCLE BODY*/
  #twobodies2 {
    position: relative;
    /* display:none; */
    top: 230.75%;
    left: 0.5%;
  }

  /*BLOOD BODY*/
  #twobodies3 {
    position: relative;
    /* display:none; */
    left: 0.5%;
    top: 340%;
    /* padding-bottom: 500px; */
  }

  .textKnockDoor {
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: 24px;
    font-family: "Pretendard-Regular";
  }

  #textKnockDoorKR1 {
    left: 15%;
    top: 35%;
  }
  #textKnockDoorEN1 {
    left: 49%;
    top: 25%;
  }
  #textKnockDoorFR1 {
    left: 19%;
    top: 79%;
  }

  #textKnockDoorKR2 {
    left: 45%;
    top: 62%;
  }
  #textKnockDoorEN2 {
    left: 92%;
    top: 37%;
  }
  #textKnockDoorFR2 {
    left: 91%;
    top: 78%;
  }

  #textKnockDoorKR1 span,
  #textKnockDoorEN1 span,
  #textKnockDoorFR1 span,
  #textKnockDoorKR2 span,
  #textKnockDoorEN2 span,
  #textKnockDoorFR2 span {
    display: inline-block !important;
  }

  #shirley {
    position: absolute;
    top: 170vh;
    left: 540vw;
    width: 100vw;
  }

  #shirley video {
    width: 100%;
  }


}
